<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="vendor/bootstrap.css">
	<link rel="stylesheet" href="1.css">
	
	
</head>
<body>
	<!-- <div style="font-family: futubd; font-size: 60px; text-transform:uppercase;">test font 1</div>
	<br /><div style="font-family: futubdit; font-size: 40px;">test font 1</div>
	<br /><div style="font-family: futult; font-size: 40px;">test font 1</div>
	<br /><div style="font-family: futultit; font-size: 40px;">test font 1</div>
	<br /><div style="font-family: futuram; font-size: 40px;">test font 1</div>
	<br /><div style="font-family: futurami; font-size: 40px;">test font 1</div>
	<br /> -->

	<header>
		<div class="pull-right canhan">
			<a href="">REGISTER</a>
			|
			<a href="">SIGN IN</a>
			|
			<a href="">MY BAG</a>
			|
			<a href="">CHECK OUT</a>
		</div>
	
		<a href="" style="text-decoration:none"><div class="search">
			SEARCH
		</div></a>
	</header>
	
	<header class="container">
		<div class="pull-right menuchinh">
			<a href="">HOME</a>
			<a href="">WOMEN</a>
			<a href="">MEN</a>
			<a href="">GALLERY</a>
			<a href="">ARTICLES</a>
			<a href="">ABOUT US</a>
			<a href="">CONTACT</a>
		</div>
		<div class="logo">
			<a href=""><img src="img/logo.png" alt="" /></a>
		</div>
	</header>
	
	<div class="container phannu">
		<div class="menu1 pull-left">
			<a href="">Dresses</a>
			<a href="">Jumpsuits</a>
			<a href="">Shirts</a>
			<a href="">T-shirts</a>
			<a href="">sweaters</a>
			<a href="">Jackets</a>
			<a href="">Coats</a>
			<a href="">Trousers</a>
			<a href="">Jeans</a>
			<a href="">Skirts</a>		
		</div>
		
		<div class="women">
			<div class="bocanh">
				<img src="img/woman2.png" alt="" class="anhwoman anh1" />
				<img src="img/woman1.png" alt="" class="anhwoman anh2"/>
				<img src="img/woman2.png" alt="" class="anhwoman anh3"/>
				<img src="img/woman1.png" alt="" class="anhwoman anh4"/>
			</div>
		</div>
	</div>
	
	<div class="container phannam">
		<div class="menu1 menu2 pull-right">
			<a href="">Shirt</a>
			<a href="">Polo</a>
			<a href="">shirts</a>
			<a href="">Sweaters</a>
			<a href="">Blazers</a>
			<a href="">Jackets</a>
			<a href="">Coats</a>
			<a href="">Suits</a>
			<a href="">Jeans</a>
			<a href="">Pants</a>		
		</div>
		
		<div class="men">
			<div class="bocanh">
				<img src="img/man1.png" alt="" class="anhwoman anhnam1" />
				<img src="img/man2.png" alt="" class="anhwoman anhnam2"/>
				<img src="img/man1.png" alt="" class="anhwoman anhnam3"/>
				<img src="img/man2.png" alt="" class="anhwoman anhnam4"/>
			</div>
		</div>
	</div>
	
	<div class="container-fluit">
		<div class="slide">
			<img src="img/slide1.jpg" alt="" width="100%"/>
			<img src="img/slide1.jpg" alt="" width="100%"/>
			<img src="img/slide1.jpg" alt="" width="100%"/>
			<img src="img/slide1.jpg" alt="" width="100%"/>
			<img src="img/slide1.jpg" alt="" width="100%"/>
		</div>
	</div>
	
	<div class="ontrendnow container">
		<img src="img/anh1.jpg" alt="" class="trend1"/>
		<img src="img/anh2.jpg" alt="" class="trend2"/>
		<img src="img/anh3.jpg" alt="" class="trend3"/>
		<div class="chutrend">
			<span>ON</span>
			<p>TREND</p>
			<span>NOW</span>
		</div>
		<div class="all">
			VIEW ALL
		</div>
	</div>
	
	<script type="text/javascript" src="vendor/bootstrap.js"></script>
	<script type="text/javascript" src="1.js"></script>
</body>
</html>
